@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #141414;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inconsolata", monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inconsolata", monospace;
  @apply text-primary;
}

h1 {
  @apply text-4xl font-bold mb-4;
}

h2 {
  @apply text-3xl font-medium mb-3;
}

h3 {
  @apply text-2xl font-medium mb-2;
}

h4 {
  @apply text-xl font-medium mb-2;
}

h5 {
  @apply text-lg font-medium mb-1;
}

h6 {
  @apply text-base font-medium mb-1;
}

p {
  @apply text-base leading-relaxed mb-1;
}

/* Tag */

.tagline {
  @apply text-tag text-sm;
}

.tagline span {
  @apply inline-block;
}

.tagline span span {
  @apply text-primary inline-block mx-1;
}

.supplementary {
  @apply text-sm;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

/* Slideshow */
.thumbnail-swiper .swiper-slide {
  transition: opacity 0.3s ease, filter 0.3s ease;
}

/* Unselected thumbnails */
.thumbnail-swiper .swiper-slide:not(.swiper-slide-thumb-active) {
  opacity: 0.5; /* Adjust transparency */
  filter: brightness(80%); /* Make the unselected thumbnails look dimmer */
}

/* Selected (active) thumbnail */
.thumbnail-swiper .swiper-slide-thumb-active {
  opacity: 1;
  filter: brightness(100%);
}