@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255, 255, 255; /* #fff */
  --primary: 20, 20, 20; /* #141414 */
  --secondary: 58, 61, 152; /* #3A3D98 */
  --tag: 0, 128, 128; /* #008080 */
  --selected: 255, 111, 97; /* #FF6F61 */
  --caption: 90, 107, 149; /* #5A6B95 */
  --date: 122, 122, 122; /* #7a7a7a */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 67, 67, 67; /* #434343 */
    --primary: 240, 240, 240; /* #f0f0f0 */
    --secondary: 124, 127, 212; /* #7C7FD4 */
    --tag: 32, 178, 170; /* #20B2AA */
    --selected: 255, 133, 122; /* #FF857A */
    --caption: 170, 180, 230; /* #AAB4E6 */
    --date: 160, 160, 160; /* #A0A0A0 */
  }
}

body {
  color: rgb(var(--primary));
  background: rgb(var(--background));
  font-family: Calibri, "Trebuchet MS", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inconsolata", monospace;
  @apply text-primary;
}

h1 {
  @apply text-4xl font-bold mb-4;
}

h2 {
  @apply text-3xl font-medium mb-3 overflow-hidden break-words;
}

h3 {
  @apply text-2xl font-medium my-2;
}

h4 {
  @apply text-xl font-medium my-2;
}

h5 {
  @apply text-lg font-medium my-1;
}

h6 {
  @apply text-base font-medium my-1;
}

p {
  @apply text-base leading-relaxed mb-1 text-justify;
}

section {
  @apply my-4;
}

aside {
  @apply p-4 top-4 self-start;
}

span {
  font-family: "Inconsolata", monospace;
}

p span {
  font-family: Calibri, "Trebuchet MS", sans-serif;
}

button {
  font-family: "Inconsolata", monospace;
}

/* Tag */

.tagline {
  color: rgb(var(--tag));
  @apply text-sm;
}

.tagline span {
  @apply inline-block;
}

.tagline span span {
  color: rgb(var(--primary));
  @apply inline-block mx-1;
}

.supplementary {
  @apply text-sm;
  font-family: Calibri, "Trebuchet MS", sans-serif;
}

/* Slideshow */
.thumbnail-swiper .swiper-slide {
  transition: opacity 0.3s ease, filter 0.3s ease;
}

/* Unselected thumbnails */
.thumbnail-swiper .swiper-slide:not(.swiper-slide-thumb-active) {
  opacity: 0.5; /* Adjust transparency */
  filter: brightness(80%); /* Make the unselected thumbnails look dimmer */
}

/* Selected (active) thumbnail */
.thumbnail-swiper .swiper-slide-thumb-active {
  opacity: 1;
  filter: brightness(100%);
}

.external-link {
  color: rgb(var(--caption));
  @apply text-sm transition flex mb-2 align-middle;
}

.external-link:hover {
  color: rgb(var(--tag));
}

.external-link-for-blog {
  color: rgb(var(--tag));
  @apply hover:underline mb-4;
}

.external-link-icon {
  @apply w-4 h-4 mr-2 align-middle;
}

.quote {
  color: rgb(var(--primary));
  border-color: rgb(var(--caption));
  @apply border-l-4 border-solid pl-4 italic my-4;
}

.caption {
  color: rgb(var(--caption));
  @apply text-center text-sm;
}

.tutorial-page-container p, ul, ol {
  font-family: Calibri, "Trebuchet MS", sans-serif;
  @apply text-lg leading-relaxed mb-4 text-justify;
}

.tutorial-page-container h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

.tutorial-page-container h3 {
  @apply my-8;
}
.tutorial-page-container h4 {
  @apply my-4;
}

.tutorial-page-container a{
  @apply text-tag hover:underline;
}

/* global.css */
.code-inline {
  @apply font-mono text-sm my-1 px-1 py-0.5 rounded bg-gray-100 text-red-500;
}
